extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 电影名
						th 导演
						th 国家
						th 上映年份
						th 录入时间
						th 查看
						th 更新
						th 删除
				tbody
					each item in movies
					tr(class="item-id-#{item.id}")
						td #{item.title}